<script src=
"https://code.jquery.com/jquery-3.6.0.min.js">
    </script>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    <button type="button" onclick="delete_question()">delete this question</button>
    <a href="{% url 'polls:index' %}"><button type="button">Home</button></a>
    </form>

    <script>
        function delete_question(){
            alert("We are going to delete this quesion")

            let formdata ={}
            formdata['csrfmiddlewaretoken'] = "{{csrf_token}}"
            

            $.ajax({
                url:"{% url 'polls:delete_question' question.id %}",
                type:'POST',
                data:formdata,
                success:function(response){
                    window.location = "{% url 'polls:index' %}"
                }

            })
        }
    </script>