<P>
    <div>
        <h1>IN THE INDEX PAGE</h1>
    </div>
    <div>
       {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                <li>
                    <a href="{% url 'polls:details' question.id %}">{{ question.question_text }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
        <p>No polls are available</p>
       {% endif %}
    </div>
</P>
<div>
    <h2>Hey! To create new poll question click here;</h2>
    <a href="{% url 'polls:add_question' %}">Add Poll Question</a>
</div>
